@use '@/app/styles/variables' as *;

.eyeBtn {
  position: absolute;
  right: 16px;
  background: none;
  border: none;
  color: $theme-gray-3;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $theme-blue;

    @media (max-width: $mobile) {
      color: $theme-gray-3;
    }
  }

  &:active {
    color: $theme-blue;
  }
}
