:root {
  --color-white: #ffffff;
  --color-black: #0f0f12;
  --color-blue: #667eea;
  --color-red: #ef4444;
  --color-purple: #764ba2;
  --color-green: #10b981;
  --color-orange: #f59e0b;
  --color-yellow: #ffc107;

  --color-gray: #c7ced8;
  --color-gray-hover: #fbfbff;

  --theme-shade-1: #fbfbff;
  --theme-shade-2: #f8f8fe;
  --theme-shade-3: #efeff5;
  --theme-shade-4: #e7e7ed;
  --theme-shade-5: #e0e0e6;
  --theme-shade-6: #d8d8de;
  --theme-shade-7: #cdcdd3;
  --theme-shade-8: #babac0;
  --theme-text-1: #202023;
  --theme-text-2: #636369;
  --theme-gray-1: #d4dae1;
  --theme-gray-2: #c7ced8;
  --theme-gray-3: #b2bbc8;
  --theme-gray-4: #808a97;
  --theme-gray-5: #747e8a;

  --theme-kakao: #9bbad8;
  --theme-purple-gradient-light: linear-gradient(
    135deg,
    #667eea 0%,
    #764ba2 100%
  );

  --theme-white-gradient: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
  --theme-sky-gradient: linear-gradient(135deg, #f8fafc 0%, #dbeafe 100%);
  --theme-blue-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --theme-purple-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  --theme-dark-overlay: transparent;
}

[data-theme='dark'] {
  --theme-shade-1: #111115;
  --theme-shade-2: #19191b;
  --theme-shade-3: #222227;
  --theme-shade-4: #292930;
  --theme-shade-5: #303038;
  --theme-shade-6: #393941;
  --theme-shade-7: #474750;
  --theme-shade-8: #5f5f67;
  --theme-text-1: #ededf7;
  --theme-text-2: #b3b3bd;
  --theme-gray-1: #393941;
  --theme-gray-2: #474750;
  --theme-gray-3: #5f5f67;
  --theme-gray-4: #6d6d76;
  --theme-gray-5: #606068;

  --theme-kakao: #000000;

  --theme-sky-gradient: #19191b;
  --theme-white-gradient: #19191b;
  --theme-blue-gradient: #19191b;
  --theme-purple-gradient: linear-gradient(135deg, #2b3a6d 0%, #3e2a5d 100%);

  --theme-dark-overlay: rgba(0, 0, 0, 0.4);
}
