@use '@/app/styles/variables' as *;

.starRating {
  display: flex;
  align-items: center;
  gap: 2px;

  &.isInteractive {
    .starContainer__star {
      cursor: pointer;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.starContainer {
  &__star {
    position: relative;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    color: $theme-gray-3;

    &::before {
      content: '★';
      position: absolute;
      top: 0;
      left: 0;
      width: var(--percentage);
      overflow: hidden;
      color: $theme-yellow;

      transition: color 0.2s ease;
    }
  }

  &__text {
    margin-left: 8px;
    font-size: $font-sm-size;
    color: $theme-gray-4;
    font-weight: 500;
    white-space: nowrap;
  }

  &.starSmall {
    .starContainer__star {
      font-size: $font-sm-size;
    }
    .starContainer__text {
      font-size: $font-xs-size;
    }
  }
  &.starMedium {
    .starContainer__star {
      font-size: $font-lg-size;
    }
    .starContainer__text {
      font-size: $font-sm-size;
    }
  }
  &.starLarge {
    .starContainer__star {
      font-size: $font-title-sub-size;
    }
    .starContainer__text {
      font-size: $font-base-size;
    }
  }
}
