@use '../../../styles/variables' as *;

.userContainer {
  padding: 3rem;
  background: $theme-shade-2;
  min-height: 100vh;
  word-break: keep-all;

  @media (max-width: $tablet) {
    padding: 1rem 0.5rem;
  }

  .statsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(5, 1fr);
      gap: 0.5rem;
    }

    .cardContainer {
      background-color: $theme-shade-1;
      padding: 1.5rem;
      border-radius: 0.75rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
      display: flex;
      align-items: center;
      gap: 1rem;

      @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        flex-direction: column;
      }

      &:nth-of-type(1) .cardContainer__icon {
        background: $theme-green;
      }

      &:nth-of-type(2) .cardContainer__icon {
        background: $theme-purple;
      }

      &:nth-of-type(3) .cardContainer__icon {
        background: $theme-blue;
      }

      &:nth-of-type(4) .cardContainer__icon {
        background: $theme-red;
      }

      &:nth-of-type(5) .cardContainer__icon {
        background: $theme-orange;
      }

      &__icon {
        color: $theme-white;
        padding: 0.8rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $tablet) {
          padding: 0.4rem;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;

          @media (max-width: $tablet) {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      .contectContainer {
        &__num {
          font-size: $font-title-sub-size;
          font-weight: 700;
          color: $theme-text-1;

          @media (max-width: $tablet) {
            align-items: center;
            justify-content: center;
            display: flex;
          }
        }

        &__label {
          font-size: $font-sm-size;
          color: $theme-gray-5;

          @media (max-width: $tablet) {
            display: flex;
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
  }

  .filtersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    @media (max-width: $tablet) {
      justify-content: center;
      width: 100%;
    }

    .searchContainer {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .boxContainer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        &__icon {
          position: absolute;
          left: 1rem;
          color: $theme-gray-5;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 1.2rem;
            height: 1.2rem;
          }
        }

        &__input {
          width: 100%;
          padding: 0.75rem 0.75rem 0.75rem 3rem;
          border: 1px solid $theme-gray-1;
          border-radius: 0.5rem;
          font-size: $font-sm-size;
          color: $theme-text-1;
          background: $theme-shade-1;
          height: 44px;

          &:focus {
            outline: none;
            border-color: $theme-blue;
            box-shadow: 0 0 0 2px rgba($theme-blue, 0.2);
          }
        }
      }
    }

    .filterContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      align-items: center;

      @media (max-width: $mobile) {
        justify-content: center;
      }

      .selectContainer {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        border: 1px solid $theme-gray-1;
        border-radius: 0.5rem;
        padding: 0.6rem 0.8rem;
        background-color: $theme-shade-1;
        height: 44px;

        @media (max-width: $mobile) {
          width: 100%;
        }

        &__icon {
          color: $theme-gray-5;

          svg {
            width: 1rem;
            height: 1rem;
          }
        }

        &__select {
          border: none;
          background: transparent;
          font-size: $font-sm-size;
          color: $theme-text-2;
          cursor: pointer;
          padding-right: 0.5rem;

          @media (max-width: $tablet) {
            width: 100%;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .sortContainer {
        display: flex;
        gap: 0.5rem;
        margin-left: auto;

        @media (max-width: $mobile) {
          width: 100%;
          justify-content: center;
        }

        &__btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 0.4rem;
          padding: 0.6rem 1rem;
          border-radius: 0.5rem;
          border: 1px solid $theme-gray-1;
          background-color: $theme-shade-1;
          color: $theme-text-2;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-size: $font-sm-size;

          svg {
            width: 1rem;
            height: 1rem;
          }

          &.active {
            color: $theme-blue;
            border-color: $theme-blue;
          }
        }
      }

      .resetFilterBtn {
        background-color: $theme-shade-3;
        color: $theme-text-2;
        border: 1px solid $theme-gray-1;
        cursor: pointer;
        border-radius: 0.5rem;
        align-items: center;
        gap: 0.4rem;
        padding: 0.6rem 1rem;
        font-size: $font-sm-size;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        display: inline-flex;

        svg {
          width: 1.1rem;
          height: 1.1rem;
        }

        &:hover {
          border: 1px solid $theme-gray-2;
          background-color: $theme-shade-4;

          @media (max-width: $tablet) {
            background-color: $theme-shade-3;
          }
        }

        &:active {
          transform: translateY(1px);

          @media (max-width: $tablet) {
            transform: none;
          }
        }
      }
    }
  }

  .selectBtnContainer {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;

    @media (max-width: $tablet) {
      justify-content: center;
      gap: 0;
    }

    &__delete {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem 1rem;
      color: $theme-red;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: $font-sm-size;
      font-weight: 600;
      transition: background-color 0.2s ease, transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);

        @media (max-width: $tablet) {
          transform: none;
        }
      }

      &:active {
        transform: translateY(0);

        @media (max-width: $tablet) {
          transform: none;
        }
      }

      svg {
        width: 1.1rem;
        height: 1.1rem;
      }
    }

    &__cancel {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem 1rem;
      color: $theme-text-2;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: $font-sm-size;
      font-weight: 600;
      transition: background-color 0.2s ease, transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);

        @media (max-width: $tablet) {
          transform: none;
        }
      }

      &:active {
        transform: translateY(0);
      }

      svg {
        width: 1.1rem;
        height: 1.1rem;
      }
    }
  }

  .tableContainer {
    background: $theme-shade-1;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid $theme-gray-1;
    padding: 1.5rem;

    @media (max-width: $tablet) {
      background: transparent;
      border: none;
      padding: 0;
      overflow-x: hidden;
      box-shadow: none;
    }

    &__table {
      width: 100%;
      border-collapse: collapse;
      min-width: 800px;

      @media (max-width: $tablet) {
        min-width: unset;
        display: block;
      }

      .headerContainer {
        background: $theme-shade-2;
        border-bottom: 1px solid $theme-gray-1;

        @media (max-width: $tablet) {
          display: none;
        }

        .tableHeaderCell {
          padding: 1rem;
          font-weight: 600;
          color: $theme-text-1;
          font-size: $font-sm-size;
        }

        &__name {
          @extend .tableHeaderCell;
          width: 15%;
        }
        &__nickname {
          @extend .tableHeaderCell;
          width: 10%;
        }
        &__email {
          @extend .tableHeaderCell;
          width: 15%;
        }
        &__phone {
          @extend .tableHeaderCell;
          width: 15%;
        }
        &__level {
          @extend .tableHeaderCell;
          width: 5%;
        }
        &__joinDate {
          @extend .tableHeaderCell;
          width: 10%;
        }

        &__lastLoginDate {
          @extend .tableHeaderCell;
          width: 10%;
        }
        &__deleteDate {
          @extend .tableHeaderCell;
          width: 10%;
        }
        &__action {
          @extend .tableHeaderCell;
          width: 5%;
        }
      }
    }
    &__tbody {
      @media (max-width: $tablet) {
        display: block;
      }
    }

    .rowContainer {
      border-bottom: 1px solid $theme-gray-1;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: $theme-shade-3;

        @media (max-width: $tablet) {
          background-color: $theme-shade-1;
        }
      }

      @media (max-width: $tablet) {
        display: block;
        background: $theme-shade-1;
        padding: 1.25rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        margin-bottom: 1rem;
        border-radius: 12px;
        border: 1px solid $theme-gray-1;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.deletedRow {
        background-color: $theme-shade-4;
        opacity: 0.7;
        text-decoration: line-through;
        color: $theme-text-1;

        @media (max-width: $tablet) {
          background-color: $theme-shade-3;
        }
      }

      .tableCell {
        padding: 1rem;
        color: $theme-text-1;
        font-size: $font-sm-size;
        text-align: center;

        @media (max-width: $tablet) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: left;
          padding: 0.75rem 0;
          border: none;
          border-bottom: 1px solid $theme-shade-2;

          &:last-child {
            border-bottom: none;
          }

          // 라벨 추가
          &::before {
            content: attr(data-label);
            font-weight: 600;
            color: $theme-text-2;
            flex-shrink: 0;
            min-width: 80px;
          }
        }
      }
      &__checkbox {
        @extend .tableCell;
        width: 40px;
        text-align: center;

        @media (max-width: $tablet) {
          position: absolute;
          top: 2.25rem;
          right: 1.25rem;
          padding: 0;
          border-bottom: none !important;
          width: auto;

          &::before {
            content: none;
          }
        }
      }

      &__name {
        @extend .tableCell;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $tablet) {
          justify-content: flex-start !important;
          padding-top: 0;
          border-bottom: none;
          margin-bottom: 0.5rem;
          padding-right: 3rem;

          &::before {
            content: none;
          }
        }
      }

      .infoContainer {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        @media (max-width: $tablet) {
          gap: 1rem;
        }

        &__avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: $theme-gray-1;
          color: $theme-text-2;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: $font-sm-size;
          flex-shrink: 0;

          @media (max-width: $tablet) {
            width: 48px;
            height: 48px;
            font-size: $font-base-size;
          }

          svg {
            width: 16px;
            height: 16px;

            @media (max-width: $tablet) {
              width: 24px;
              height: 24px;
            }
          }
        }

        &__name {
          @media (max-width: $tablet) {
            font-size: $font-base-size;
            font-weight: 600;
          }
        }
      }

      &__nickname {
        @extend .tableCell;
      }

      &__email {
        @extend .tableCell;
      }

      &__phone {
        @extend .tableCell;
      }

      &__level {
        @extend .tableCell;
      }

      .levelBadge {
        display: inline-block;
        padding: 0.5rem 0.8rem;
        border-radius: 50px;
        font-size: $font-xs-size;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        line-height: 1;
        color: $theme-white;

        @media (max-width: $tablet) {
          padding: 0.6rem 1rem;
          font-size: $font-sm-size;
        }

        &.business {
          background-color: $theme-purple;
        }

        &.general {
          background-color: $theme-blue;
        }
      }

      &__date {
        @extend .tableCell;
      }

      .deletedDate {
        color: $theme-red;
        font-weight: 500;
      }

      .activeStatus {
        color: $theme-green;
        font-weight: 500;
      }

      &__action {
        @extend .tableCell;

        @media (max-width: $tablet) {
          justify-content: flex-end;
          padding-bottom: 0;
          border: none;

          &::before {
            content: none;
          }
        }
      }

      .resetBtn,
      .restoreBtn {
        border: none;
        border-radius: 6px;
        padding: 0.5rem 0.75rem;
        font-size: $font-base-size;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        @media (max-width: $tablet) {
          padding: 0.75rem 1.25rem;
          font-size: $font-sm-size;
          font-weight: 600;
        }

        svg {
          width: 1rem;
          height: 1rem;
        }

        &:hover {
          transform: translateX(5px);

          @media (max-width: $tablet) {
            transform: none;
          }
        }

        &:active {
          transform: translateX(3px);

          @media (max-width: $tablet) {
            transform: none;
          }
        }
      }

      .resetBtn {
        background: $theme-yellow;
        color: $theme-white;
      }

      .restoreBtn {
        background: $theme-blue;
        color: $theme-white;
      }
    }
  }

  .checkboxContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: $font-sm-size;
    color: $theme-gray-5;
    font-weight: 500;
    min-height: 44px;

    &__checkbox {
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
      appearance: none;
      border: 2px solid $theme-gray-1;
      border-radius: 0.25rem;
      transition: all 0.2s ease;
      position: relative;

      &:checked {
        background-color: $theme-blue;
        border-color: $theme-blue;
      }

      &:checked::after {
        content: '✔';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $theme-white;
        font-size: $font-xs-size;
        line-height: 1;
      }
    }

    &__text {
      user-select: none;
    }
  }
}

.emptyContainer {
  text-align: center;
  padding: 10rem;
  word-break: keep-all;

  @media (max-width: $tablet) {
    padding: 5rem;
  }

  &__icon {
    color: $theme-gray-1;
    margin-bottom: 1.5rem;

    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  &__title {
    font-size: $font-title-sub-size;
    color: $theme-text-2;
    margin-bottom: 0.75rem;
    font-weight: 600;
  }

  &__desc {
    font-size: $font-base-size;
    color: $theme-gray-5;
    max-width: 400px;
    margin: 0 auto;
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    .resultContainer {
      flex-shrink: 0;
      margin-bottom: 0.5rem;

      &__count {
        color: $theme-gray-4;
        font-size: $font-sm-size;
      }
    }
  }

  .controlContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    @media (max-width: $tablet) {
      gap: 0.1rem;
    }

    &__btn {
      padding: 0.5rem 0.75rem;
      border-radius: 6px;
      color: $theme-gray-4;
      cursor: pointer;
      transition: all 0.2s ease;
      font-size: $font-sm-size;
      min-width: 32px;

      @media (max-width: $tablet) {
        padding: 0.5rem;
      }

      svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
      }

      &.pageBtnActive {
        color: $theme-blue;
        font-weight: 600;
        font-size: $font-lg-size;
        cursor: default;
      }

      &:hover:not(.pageBtnActive):not(:disabled) {
        transform: translateY(-3px);

        @media (max-width: $tablet) {
          transform: none;
        }
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        color: $theme-shade-8;
      }

      &.ellipsis {
        cursor: default;
        border-color: transparent;
        color: $theme-gray-4;

        &:hover {
          transform: translateY(-3px);

          @media (max-width: $tablet) {
            transform: none;
          }
        }
      }
    }
  }
}
