@use '@/app/styles/variables' as *;

.button {
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: $font-lg-size;
  border: none;
  background: $theme-gray-1;
  color: $theme-gray-3;
  cursor: not-allowed;
  transition: all 0.3s ease;
  outline: none;
  width: 250px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(102, 126, 234, 0.3);

  @media (max-width: $mobile) {
    box-shadow: none;
  }

  &:disabled {
    background: $theme-gray-1;
    color: $theme-gray-3;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.buttonActive {
  background: $theme-purple-gradient;
  color: $theme-white;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 35px rgba(102, 126, 234, 0.4);

    @media (max-width: $mobile) {
      transform: none;
      box-shadow: none;
    }
  }

  &:disabled {
    background: $theme-purple-gradient;
    color: $theme-white;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(102, 126, 234, 0.3);
  }
}
